ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333; */
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    /* color: white; */
    text-align: center;
    padding: 14px 50px;
    font-size: 20px;
    text-decoration: none;
  }
  
  hr {
    background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 1px dimgrey !important;
    height: 1px !important;
    width: 100% !important;
    margin-top: -0.5%;
}